<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aai.liveness">

    <application>

        <activity
            android:name=".activity.LivenessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
